@model DetailsPersonViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Delete member!</h1>

<div class="row">

    <div class="col-5  alert alert-danger">Are you sure you want to delete @Model.FirstName @Model.LastName </div>
</div>
<div class="row">

    <div class="col-md-2 ">
        @{ var imgSrc = String.Format("data:image/gif;base64,{0}", Model.Image); }

        <img src="@imgSrc" height="150" width="150" class="img-thumbnail" alt="Alternate Text" />
    </div>
    <div class="col-md-10">
        <div>
            <b><label asp-for="FirstName"></label>:</b> @Model.FirstName
        </div>
        <div>
            <b><label asp-for="LastName"></label> :</b> @Model.LastName
        </div>
        <div>
            <b><label asp-for="Email"></label> :</b> @Model.Email
        </div>
        <div>
            <b><label asp-for="Address"></label> :</b> @Model.Address
        </div>
    </div>
</div>
<br />
<form asp-action="ConfirmDelete" asp-controller="People" asp-route-id=@Model.personId method="post" >
    <input type="submit" class="btn btn-danger" value="Delete" />
</form>