@model Person
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Details of person @Model.Id</h1>
<div class="d-flex justify-content-lg-start">
    <div class="border-left-danger">
        <img src="data:image/jpeg;base64, @Model.Image" alt="@Model.FristName @Model.LastName" width="250" />
    </div>
    <div class="border-left-danger ml-4 p-2 text-lg">
        <strong class="text-black-50 ">Full Name: </strong><span class="d-block mb-3">@Model.FristName @Model.LastName</span>
        <strong class="text-black-50">Email: </strong><span class="d-block mb-3">@Model.Email</span>
        <strong class="text-black-50">Address: </strong><span class="d-block mb-3">@Model.Address</span>
    </div>
    <div>
        <a class="btn btn-danger" data-toggle="modal" data-target="#myModal" style="width: 200px;">Delete</a>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content pl-2 pt-2">
                    <label>Are you Shure?</label>
                    <div class="modal-footer">
                        <a class="btn btn-success" asp-controller="People" asp-action="Delete" asp-route-Id="@Model.Id">Yes</a>
                        <a class="btn btn-danger" data-dismiss="modal">No</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="mt-5">
    <h2> Phones of person @Model.Id</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Row</th>
            <th>Type</th>
            <th>Number</th>
        </tr>
        @if (Model.Phones != null && Model.Phones.Count > 0)
        {
            @foreach (var item in Model.Phones)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.PhoneType</td>
                    <td>@item.PhoneNumber</td>
                </tr>

            }

        }
        else
        {
            <tr>
                <td colspan="3">Don't Have Phones Number</td>
            </tr>
        }
    </table>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" asp-controller="Phone" asp-action="Add" asp-route-Id="@Model.Id">Insert</a>
    </div>
</div>
