@model DetailsPersonViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@Html.Hidden("personId")

<h1>Contact Information</h1>

<div class="row">
    <div class="col-md-2 ">
        @{ var imgSrc = String.Format("data:image/gif;base64,{0}", Model.Image); }

        <img src="@imgSrc" height="150" width="150" class="img-thumbnail" alt="Alternate Text" />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <div>
            <b><label asp-for="FirstName"></label>:</b> @Model.FirstName
        </div>
        <div>
            <b><label asp-for="LastName"></label> :</b> @Model.LastName
        </div>
        <div>
            <b><label asp-for="Email"></label> :</b> @Model.Email
        </div>
        <div>
            <b><label asp-for="Address"></label> :</b> @Model.Address
        </div>

        <a class=" btn-sm btn-outline-primary" asp-controller="people" asp-action="Update" asp-route-id="@Model.personId"><i class="fa fa-edit"></i></a>
        <a class=" btn-sm btn-outline-danger" asp-controller="people" asp-action="Delete" asp-route-id="@Model.personId"><i class="fa fa-trash"></i></a>
    </div>

    <div class="col-10">
        <b><label asp-for="Tags"></label> :</b>
        @foreach (var tag in Model.Tags)
        {
            <a href="#" class="badge badge-primary">@tag.Title</a>}

    </div>
   

</div>
<br />



<h3><label asp-for="phone"></label></h3>
<div class="row">

    <a class=" btn-sm btn-outline-primary" asp-controller="Phone" asp-action="Add" asp-route-id="@Model.personId"><i class="fa fa-download"></i></a>

    <div class="table-responsive pt-2">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Row</th>
                <th>type</th>
                <th>Number</th>
                <th>Delete number</th>
            </tr>
            @{ int i = 0;}
            @foreach (var phone in Model.phone)
            {

                <tr>
                    <td>@{++i;}@i</td>
                    <td>@phone.PhoneType.ToString()</td>
                    <td>@phone.PhoneNumber</td>
                    <td>
                        <div>
                        <a class=" btn-sm btn-outline-danger" data-toggle="modal" data-target="#myModal" ><i class="fa fa-trash"></i></a>
                            <!-- Modal -->
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content pl-2 pt-2">
                                        <label>Are you Sure?</label>
                                        <div class="modal-footer">
                                            <a class="btn btn-success" asp-controller="People" asp-action="DeleteNumber" asp-route-Id="@phone.Id">Yes</a>
                                            <a class="btn btn-danger" data-dismiss="modal">No</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </td>
                </tr>

            
            }
        </table>

    </div>
</div>