@model AddPhoneViewModel
@{
}
<form asp-controller="Phone" asp-action="Add" method="post">
  @*  @Html.HiddenFor(c => c.Personid)*@
    @Html.Hidden("Personid")
    <div class="d-flex">
        <div class="form-group flex-grow-1">
            <label asp-for="Number"></label>
            <input type="text" asp-for="Number" class="form-control" maxlength="50" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
        <div class="form-group flex-grow-1">
            <label asp-for="Type"></label><br />
            <select class="form-control" asp-for="Type">
                @foreach (var item in @Model.PhoneTypes)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="save" />
</form>